.toast{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    &_content{
     @apply  flex justify-center text-center text-white text-base rounded w-60 p-3;
    }

    .red {
        background-color: rgb(214, 24, 24);
    }
    .green {
        background-color: rgba(84, 208, 31, 0.8);
    }
}
.bounce-enter-active {
animation: bounce-in 0.5s;
}
.bounce-leave-active {
animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.20);
    }
    100% {
        transform: scale(1);
    }
}