.pricePlans{
  position: relative;
  color: #666666;

  .tag{
    @apply flex justify-center absolute;
      &_content{
        position: relative;
        top: -20px;
        left: 100px;
        background-color: #10C300;
        border-radius: 10px;
        width: 139px;
        height: 33px;
        text-align: center;
        justify-content: center;
        color: white;
        margin: 0;
        font-size: 14px;
        padding-top: 6px;
      }
  }

 

  .button{
    @apply flex justify-center;
  }
  &_content{
    @apply bg-white rounded-md p-10 w-[348px];

   

    &_header{
      @apply text-center space-y-2;

      .title{
        font-size: 26px;
        font-weight: 700;
      }
      .price{
        @apply text-primary text-4xl font-bold pb-3;
      }
      .taxa{
        @apply flex flex-col text-sm;
      }

      .description{
        @apply text-lg pt-1 whitespace-break-spaces px-6;
      }
    }
  }
}