.login{
  @apply pt-4 lg:pt-32;
  width: 100%;
  max-width: 38.563rem;
  margin: 0 auto;
 
  &_input{
    @apply py-4;
  }

  &_register{
    @apply text-center pt-8 text-lg;
    .link{
      @apply text-primary underline decoration-1 cursor-pointer;
    }
  }
  &_header{
    @apply pb-2;
    h1{
      @apply text-3xl font-bold pb-1;
      font-style: #292D32;
    }
    span{
      @apply font-normal text-lg;
    }
  }

  &_image{
    @apply text-center;
    img{
      @apply inline-flex;
    }
  }

  &_content {
    padding: 1rem;

    &_wrap{
      @apply p-4 lg:p-[34px];
    }
    .forget{
      @apply font-normal text-right text-base text-slate-600 pt-1 cursor-pointer;
    }

    @media screen and (min-width: 1280px) {
      padding: 3rem;
      padding-top: 2rem;
    }
  }
}